.dataViz { 
         background: #fff;
}

.bars {
        stroke: #888;
        fill: #ccc;
        opacity: 0.8;
        }

.chart .bars:hover {
               opacity: 1;
              }


.axes { 
        stroke: #888;
 }

.grid { 
        stroke: #ccc;
 }

.chartValue { 
              fill: #888;
              }

.chartValue text { 
              fill: #888;
              }


.chartLabel { 
              fill: #888;
              stroke: none;
              }

.node { 
        /*fill: #ccc;*/
        stroke: #ccc;
/*        stroke-width: 1pt;*/
        }



.link { 
         stroke: #ccc;
 }


.arrowSelected { 
         stroke: #888;
 }

.arrowEnd { 
            stroke: #ccc;
            fill: #ccc;
            }

.arrowEndSelected { 
            stroke: #888;
            fill: #888;
            }

div.dataVizDiv { 
                 border-bottom: 1px solid #ddd;
                 margin-bottom: 20px;
                 padding: 20px;
                 }

div.dataVizDiv h2 { 
                    display: block;
                    width: 100%;
                    font-family: "Linux Libertine";
                    font-weight: normal;
                    color: #888;
                    border-bottom: 1px solid #888;
                    font-size: 30px;
                    }

div.dataVizInsideDiv { 
                       width: 100%;
                       display: inline-block;
                       vertical-align: top;
                       }

div.dataVizShortDescription { 
                              font-size: 100%;
                              display: block;
                              width: 100%;
                              margin: 0px;
                              padding: 0px;
                              color: #888;
                              }


div.dataVizDescription { 
                        font-size: 100%;
                        display: block;
                        width: 100%;
                        background: #eee;
                        margin: 10px 0px;
                        padding: 10px;
                        color: #888;
                        border-radius: 2px;
                        moz-border-radius: 2px;
                        webkit-border-radius: 2px;
                         }

div.dataVizDescription:before { 
                               content: ' ';
                               z-index: -10;
                               padding: 0px;
                               margin: 0px;
                               display: block;
                               position: relative;
                               top: -18px;
                               left: 50px;
                               width: 0; 
                               height: 0; 
                               border-left: 10px solid #fff;
                               border-right: 10px solid #fff;               
                               border-bottom: 10px solid #eee;
                               }



#dataVizThumbnails {
                     width: 30%; 
                     display: table-cell;
                     vertical-align: top;
                     }

#currentDataViz {
                  width: 60%; 
                  border-left: #ccc 1px solid;
                  display: table-cell;
                  vertical-align: top;
                  padding: 20px;
                  }


div.dataVizThumb { 
                   display: block;
                   width: 100%;
                   min-height: 200px;
                   cursor: pointer;
                   }

div.selected { 
               background: #ddd;
               }


div.selected:after { 
                     content: '';
                     z-index: 10;
                     padding: 0px;
                     margin: 0px;
                     display: block;
                     position: relative;
                     top: -105px;
                     margin-top: -20px;
                     left: 100%;
                     width: 0; 
                     height: 0; 
                     border-bottom: 10px solid #fff;
                     border-top: 10px solid #fff;               
                     border-left: 10px solid #ddd;
                     }



div.dataVizThumb:hover { 
                         background: #eee;
                         }


div.selected:hover { 
               background: #ddd;
               }


div.insideDiv { 
                display: table-cell;
                vertical-align: top;
                padding: 10px;
                }


div.dataVizThumb h2 { 
                      display: block;
                      width: 100%;
                      font-family: "Linux Libertine";
                      border-bottom: 1px solid #888;
                      font-weight: normal;
                      color: #888;
                      font-size: 25px;
                      }

div.dataVizPlaceholder { 
                         display: table-cell;
                         vertical-align: top;
                         padding: 10px;
                         }




